html {
    scroll-behavior: smooth;
    background-color: lightgray;
}
body {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
/* header */

.welcome {
    margin: 0;
    padding: 20px;
    color: rgb(148, 27, 27);
    font-size: 50px;
}
.header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:rgb(148, 27, 27) 0px 0px 8px 0px;
}

/* app sizing */

.app-sizing {
    width: 50%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
/* Top of app, name and search bar */

    .appTop {
        width: auto;
        height: auto;
        border: 5px solid rgb(148, 27, 27);
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        border-radius: 10px;
    }
        .userLists {
            margin-left: 25px;
        }
        .search {
            margin-right: 25px;
        }
            #searchInput{
                border-radius: 10px;
                border: solid 2px rgb(148, 27, 27);
                height: 25px;
                padding-left: 15px;
                outline: none;
            }
            #searchButton{
                border-radius: 10px;
                border: none;
                padding: 0px 10px;
                background-color: rgb(148, 27, 27);
                color: white;
                height: 31px;
            }
            #searchButton:hover{
                opacity: 75%;
                cursor: pointer;
            }
            #searchButton:active{
                transform: scale(.9);
            }

    /* two sides of app */

    .appBottom{
        display: flex;
        height: 100%;
        width: 100%;
    }
        .appLeft{
            width: 35%;
            height: 100%;
            border: 5px solid rgb(148, 27, 27);
            border-radius: 10px;
            background-color: white;
        }
            .appLeftTop{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgb(238, 238, 238);
                margin: 15px 15px 0px 15px;
                border: solid 2px rgb(148, 27, 27);
                border-radius: 10px;
                margin-bottom: 20px;
            }
                .myLists{
                    margin: 5px 0px 5px 20px;
                    color: rgb(148, 27, 27);
                }
                .addList{
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    font-size: 30px;
                    font-weight: lighter;
                    color: rgb(148, 27, 27);
                }
                .addList:hover{
                    opacity: 75%;
                    cursor: pointer;
                }
                .addList:active{
                    transform: scale(.9);
                }
                .newListName {
                    display: none;
                    margin: 0px;
                    position: relative;
                }
                .show{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    text-align: right;
                    background-color: lightgrey;
                    padding: 5px;
                    height: 40px;
                }
                .input{
                    height: 20px;
                    outline: none;
                    border-radius: 10px;
                    border: none;
                    padding-left: 10px;
                }
                #createNewList{
                    height: 22px;
                    border-radius: 10px;
                    background-color: white;
                    color: black;
                    padding-left: 10px;
                    padding-right: 10px;
                    border: none;
                }
                #createNewList:hover{
                    cursor: pointer;
                    background-color: rgb(148, 27, 27);
                    color: white;
                }
                #createNewList:active, .cancel:active, .trashCan:active{
                    transform: scale(.9);
                }
                .cancel{
                    height: 22px;
                    opacity: 60%;
                }
                .cancel:hover, .trashCan:hover {
                    cursor: pointer;
                    opacity: 100%;
                }
            #listOfLists{
                background-color: white;
                margin: 0px;
                padding-inline-start: 0px;
                transform: rotate(180deg);
            }
            .listNameStyle{
                height: 40px;
                border-bottom: solid 1px black;
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 20px;
                padding-right: 20px;
                font-weight: 600;
                background-color: rgb(238, 238, 238);
                transform: rotate(-180deg);
            }
            .listNameStyle:nth-child(even){
                background-color: lightgrey;
            }
            .listNameStyle:hover{
                cursor: pointer;
                background-color: lightgray;
            }
            .listItemStyle{
                font-size: 24px;
                font-weight: bold;
            }
            .trashCan{
                width: 15px;
                height: 15px;
                opacity: 60%;
            }



        .appRight{
            width: 65%;
            height: 100%;
            border: 5px solid rgb(148, 27, 27);
            border-radius: 10px;
            margin-left: 20px;
            background-color: white;
        }
            

        